<!DOCTYPE html>
<html>
<head>

<style>
.bodybackground{
position: absolute;
left:20px;
top: 90px;
}
.content{
position:absolute;
left:750px;
top:90px;
}
h1{text-align: center;}
</style>
</head>
<body>

<h1>   Get the Accurate Resale Value of your Car!!  </h1>
<hr>

<div class="bodybackground">
<img src='C:\Users\S.MAHALAKSHMI\Desktop\pictures\image.jpg' height="500px" width="700px"></div>
<div class="content">
<p>With difficult economic conditions,it is likely that sales of reconditioned second-hand cars will increase.In most of the countries,it is common to lease to lease a car rather than buying it outright.A lease is a binding contract between a buyer and a seller in which the buyer must pay fixed instalments for a pre defined number of months/years to the seller/financer.After the lease period is over,the buyer has the possibility to buy the car at its residual value,i.e.its expected resale value.Thus,this application is of commercial interest to seller/financers to be able to predict the residual value of cars with accuracy.</p>
<a href="resalepredict.html">
<input type="button" value="RESALE VALUE OF YOUR CAR">
</a>
</div>


</body>
</html>